<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Parent Node</title>
</head>
<body>
    <h2>Select a Parent Node</h2>
    <form action="/set_parent" method="post">
        <label for="parent_node">Parent Node:</label>
        <select name="parent_node">
            {% for meter_id, name in parent_nodes.items() %}
              <option value="{{ meter_id }}">{{ meter_id }} - {{ name }}</option>
            {% endfor %}
          </select>
          
        <br><br>
        <input type="submit" value="View Energy Graph">
    </form>
</body>
</html>
